{% load static %}

<section class="about-section" id="about">
    <div class="about-container">

        <!-- LEFT SIDE IMAGES -->
        <div class="about-images">

            <img src="{% static 'core/images/cleaning_surface.jpeg' %}" class="img img1">
            <img src="{% static 'core/images/sanitize.png' %}" class="img img2">
            <img src="{% static 'core/images/check.png' %}" class="img img3">
            <img src="{% static 'core/images/sofaclean.jpeg' %}" class="img img4">

        </div>

        <!-- RIGHT SIDE CONTENT -->
        <div class="about-content">
            <h2>About Us</h2>

            <div class="about-text">
                <p>
                    We are a professional cleaning service provider committed to delivering spotless results and excellent customer service.
                </p>

                <p>
                    With a focus on hygiene, safety, and customer satisfaction, we make your home and workplace clean, fresh, and comfortable.
                </p>
            </div>
        </div>

    </div>
</section>
