
{% load static %}



<section class="contact-hero" id="contact">
    <div class="contact-box">
        <h1>Contact Us</h1>
        <p>
            Need professional cleaning services?<br>
            Call us today or book your service online for a cleaner and healthier home.
        </p>
    </div>
</section>

<section class="contact-wrapper">

    <!-- LEFT -->
    <div class="contact-left">
        <img src="{% static 'core/images/rs-logo.png' %}" class="logo-img" alt="RS Logo">

        <div class="logo-text">
            <span class="black">Cleaning</span>
            <span class="orange">Solutions</span>
        </div>

        <p class="contact-text">
            We provide reliable and affordable cleaning services for homes and
            offices. Our trained staff uses modern equipment and safe cleaning
            solutions to give you a clean and healthy environment.
        </p>
        <script src="https://unpkg.com/lucide@latest"></script>
        <div class="contact-item">
            <i data-lucide="phone"></i>
            <span>+91 95156 59405</span>
        </div>

        <div class="contact-item">
           <i data-lucide="map-pin"></i>
           <span>Ramalingeswara Nagar, Vijayawada – 520013</span>
        </div>

        <div class="social-icons">
            <img src="{% static 'core/images/facebook.png' %}">
            <img src="{% static 'core/images/insta.jpeg' %}">
            <img src="{% static 'core/images/x.png' %}">
            <span>rscleaningsolutions</span>
        </div>
    </div>

    <!-- RIGHT -->
    <div class="contact-right">
        <iframe
            src="https://www.google.com/maps?q=Ramalingeswara%20Nagar%20Vijayawada&output=embed"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>

</section>

<footer class="footer-bar">
    All Rights Reserved
</footer>

<script>
    lucide.createIcons();
</script>




