{% load static %}

<section class="services-section" id="services">

    <h2 class="section-title1">Services</h2>

    <div class="services-grid">

        <div class="service-card large">
            <img src="{% static 'core/images/watertank.jpeg' %}">
            <div class="overlay">
                <h3>Water Tank Cleaning</h3>
                <p>Professional deep cleaning service for safe water storage.</p>
            </div>
        </div>

        <div class="service-card">
            <img src="{% static 'core/images/sofa1clean.png' %}">
            <div class="overlay">
                <h3>Sofa Cleaning</h3>
                <p>Remove stains and bacteria from your furniture.</p>
            </div>
        </div>

        <div class="service-card">
            <img src="{% static 'core/images/floorcleaning.png' %}">
            <div class="overlay">
                <h3>Floor Cleaning</h3>
                <p>Advanced tools for sparkling clean floors.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/housecleaning.jpeg' %}">
            <div class="overlay">
                <h3>Home Cleaning</h3>
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/carpet.jpeg' %}">
            <div class="overlay">
                <h3>Carpet Cleaning</h3>
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/bathroom.png' %}">
            <div class="overlay">
                <h3>Bathroom Cleaning</h3>
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/chimney.png' %}">
            <div class="overlay">
                <h3>Chimney Cleaning</h3>
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/kitchen.jpeg' %}">
            <div class="overlay">
                <h3>kitchen Cleaning</h3>
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

    </div>

</section>
