{% load static %}

<section class="services-section" id="services">

    <h2 class="section-title1">Services</h2>

    <div class="services-grid">

        <div class="service-card large">
            <img src="{% static 'core/images/watertank.jpg' %}">
            <h3 class="service-title">Water Tank Cleaning</h3>
            <div class="overlay">
                
                <p>Professional deep cleaning service for safe water storage.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/carpet.jpg' %}">
            <h3 class="service-title">Carpet Cleaning</h3>
            <div class="overlay">
                
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        

        <div class="service-card">
            <img src="{% static 'core/images/floor.jpg' %}">
            <h3 class="service-title">Floor Cleaning</h3>
            <div class="overlay">
                
                <p>Advanced tools for sparkling clean floors.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/house.jpg' %}">
            <h3 class="service-title">Home Cleaning</h3>
            <div class="overlay">
                
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card">
            <img src="{% static 'core/images/sofa.jpg' %}">
            <h3 class="service-title">Sofa Cleaning</h3>
            <div class="overlay">
                
                <p>Remove stains and bacteria from your furniture.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/bathroom.jpg' %}">
            <h3 class="service-title">Bathroom Cleaning</h3>
            <div class="overlay">
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/chimney1.jpg' %}">
            <h3 class="service-title">Chimney Cleaning</h3>
            <div class="overlay">
                
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/kitcchen.jpg' %}">
            <h3 class="service-title">Kitchen  Cleaning</h3>
            <div class="overlay">
                
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

        <div class="service-card tall">
            <img src="{% static 'core/images/paste.jpg' %}">
            <h3 class="service-title">Paste  Control</h3>
            <div class="overlay">
                
                <p>Complete residential and commercial cleaning.</p>
            </div>
        </div>

    </div>

</section>
