



{% load static %}
<section id="testimonial" class="testimonial-section">

    

    <div class="gallery-grid">

        <div class="column">
                <img src="{% static 'core/images/ladki.png' %}" class="img-small">
                <img src="{% static 'core/images/ladkipocha.png' %}" class="img-medium">
            </div>

        <div class="column">
                <img src="{% static 'core/images/ladkicleaning.png' %}" class="img-medium">
                <img src="{% static 'core/images/manwatching.png' %}" class="img-small">
                <img src="{% static 'core/images/3log.png' %}" class="img-small">
        </div>

        <div class="column">
                <img src="{% static 'core/images/agewoman.png' %}" class="img-large">
        </div>

        <div class="column">
                <img src="{% static 'core/images/mansan.png' %}" class="img-large">
        </div>

        <div class="column">
                <img src="{% static 'core/images/mengirl.png' %}" class="img-small">
                <img src="{% static 'core/images/girlclean.png' %}" class="img-medium">
                <img src="{% static 'core/images/niche.png' %}" class="img-small">
        </div>

        <div class="column">
                <img src="{% static 'core/images/ladki.png' %}" class="img-small">
                <img src="{% static 'core/images/ladkipocha.png' %}" class="img-medium">
        </div>



    </div>
    <h2 class="section-title">Testimonial</h2>

</section>
