



{% load static %}

<section id="testimonial" class="testimonial-section">

    

    <div class="gallery-grid">

        <div class="column">
                <img src="{% static 'core/images/ladki.jpg' %}" class="img-small">
                <img src="{% static 'core/images/ladkip.jpg' %}" class="img-medium">
            </div>

        <div class="column">
                <img src="{% static 'core/images/woman.jpg' %}" class="img-medium">
                <img src="{% static 'core/images/manwa.jpg' %}" class="img-small">
                <img src="{% static 'core/images/manservant.jpg' %}" class="img-small">
        </div>

        <div class="column">
                <img src="{% static 'core/images/agewoman.png' %}" class="img-large">
        </div>

        <div class="column">
                <img src="{% static 'core/images/mansan.png' %}" class="img-large">
        </div>

        <div class="column">
                <img src="{% static 'core/images/sofac.jpg' %}" class="img-small">
                <img src="{% static 'core/images/ladkis.jpg' %}" class="img-medium">
                <img src="{% static 'core/images/younggirl.jpg' %}" class="img-small">
        </div>

        <div class="column">
                <img src="{% static 'core/images/man.jpg' %}" class="img-small">
                <img src="{% static 'core/images/manp.jpg' %}" class="img-medium">
        </div>



    </div>
    <h2 class="section-title">Testimonial</h2>

</section>
